:root {

    /* Colors */

    --bg-color: #8CC461;

    --scorepill-color: #fff;
    --scorepoint-color: #252525;

    --button-bg-color: #fff;

    --rulepopup-bg-color: #004429;
    --rule-bullet-color: #FFD600;

    --text-light: #fff;
    --text-dark-1:  #6B6B6B;
    --text-dark-2: #656565;


    --rock-border-color: #0074B6;
    --paper-border-color: #FFA943;
    --scissor-border-color: #BD00FF;

    --close-bg-color: #FF0000;


    /* Border Radius */

    --border-radius-1: 13px;
    --border-radius-2: 9px;
    --border-radius-3: 10px;

    --border-width: 16px;

    /* Shadow */

    --boxshadow-outer: 0px 1px 62px 0px #00000021;
    --boxshadow-inner: 0px 1px 10px 0px #757575;

    /* Font */

    --text-font-family: "Roboto", serif;
    --cross-font-family: "Dangrek", serif;

    --font-regular: 400;
    --font-medium-1: 500;
    --font-medium-2: 600;
    --font-bold: 700;
    --font-extrabold: 800;

    --font-size-1: 91px;
    --font-size-2: 68px;
    --font-size-3: 41px;
    --font-size-4: 40px;
    --font-size-5: 39px;
    --font-size-6: 29px;
    --font-size-7: 25px;
    --font-size-8: 21px;
    --font-size-9: 17px;
    --font-size-10: 15px;
    --font-size-11: 13px;


    --letter-spacing: 3px;

    --line-height-1: 106.64px;
    --line-height-2: 79.69px;
    --line-height-3: 48.05px;
    --line-height-4: 46.88px;
    --line-height-5: 45.7px;
    --line-height-6: 33.98px;
    --line-height-7: 29.3px;
    --line-height-8: 24.61px;
    --line-height-9: 19.92px;
    --line-height-10: 17.58px;
    --line-height-11: 15.23px;


    /* Max Width */

    --standard-width: 800px;

     /* ---- Spacing ---- */
     --spacing-sm: 8px;
     --spacing-md: 16px;
     --spacing-lg: 32px;
     --spacing-xl: 64px;


}

.section-container {
    width: 100%;
    max-width: var(--standard-width);
    box-sizing: border-box;
}

h1 {
    margin: 0px;
    font-weight: var(--font-medium-2);
    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
}

h2 {
    margin: 0px;
    font-weight: var(--font-medium-1);
    font-size: var(--font-size-6);
    line-height: var(--line-height-6);
}

h3 {
    margin: 0px;
    font-weight: var(--font-medium-2);
    font-size: var(--font-size-9);
    line-height: var(--line-height-9);
}


p {
    margin: 0px;
    font-weight: var(--font-regular);
    font-size: var(--font-size-11);
    line-height: var(--line-height-11);
}


.statusText {
    margin: 0px;
    font-weight: var(--font-regular);
    font-size: var(--font-size-11);
    line-height: var(--line-height-11);
}

.single-row-layout {
    width: 100%;
    flex-direction: row;
    align-items: center;
}

/* Reusable components */

/* 1. Pill , 2. entity , 3. play again btn , 4. rules , next btn*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);

    font-family: var(--text-font-family);
    letter-spacing: var(--letter-spacing);
    color: var(--text-light);

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------------ SCORE PILL ------------ */

.score-pill {
    width: 139px;
    height: 128px;
    border-radius: var(--border-radius-2);
    background-color: var(--scorepill-color);
    color: var(--text-dark-2);
    padding: var(--spacing-sm) var(--spacing-md);
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.score-pill > .text-1 {
    font-weight: var(--font-medium-2);
    font-size: var(--font-size-9);
    line-height: var(--line-height-9);
}

.score-pill > .text-2 {
    font-weight: var(--font-bold);
    font-size: var(--font-size-9);
    line-height: var(--line-height-9);
}

.score-pill > .score-point {
    font-weight: var(--font-bold);
    font-size: var(--font-size-2);
    line-height: var(--line-height-2);
    color: var(--scorepoint-color);
}


/* ------------ BUTTON ------------ */

button {
    transition: transform 0.1s ease-in-out;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

.playAgain-btn {
    border: none;
    border-radius: var(--border-radius-2);
    background-color: var(--button-bg-color);
    color: var(--text-dark-1);

    width: 174px;
    height: 44px;

    font-weight: var(--font-medium-2);
    font-size: var(--font-size-10);
    line-height: var(--line-height-10);
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

}


.transparent-btn {
    border: 2px solid var(--button-bg-color);
    width: 119px;
    height: 40px;
    border-radius: var(--border-radius-3);
    background-color: transparent;

    font-weight: var(--font-medium-2);
    font-size: var(--font-size-8);
    line-height: var(--line-height-8);
    text-transform: uppercase;
    color: var(--button-bg-color);

    font-family: var(--text-font-family);
    letter-spacing: var(--letter-spacing);

    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------ ENTITY ------------ */

.entity-outer {
    box-shadow: 0px 1px 10px 0px #525252;
    display: inline-block;
    border-radius: 50%;

    transition: transform 0.1s ease-in-out;
}

.entity-inner {
    background-color: var(--button-bg-color);
    width: 110px;
    height: 110px;
    border: 16px solid var(--rock-border-color) ;
    border-radius: 50%;

    box-shadow: inset var(--boxshadow-inner);

    display: flex;
    justify-content: center;
    align-items: center;
}

.entity-inner > img {
    width: 80px;
    height: 58.51px;
}


.entity-outer:active {
    transform: scale(0.9)
}

.entity-outer:hover {
    cursor: pointer;
}




/* ------------ HALO ------------ */


.showAnimation {
    position: relative;
}

.showAnimation > .halo {
    /* border: 1px solid blue; */
    position: absolute;
    top: calc((-142px/2) - -16px);
    z-index: -1;
}



.circle-1 {
    position: relative;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;

    /* animation-name: circle-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

.circle-2 , .circle-3 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

 .circle-1 {
    animation-name: circle-1-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-delay: 1s;
}

.circle-2 {
    animation-name: circle-2-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    animation-delay: 0.5s;
}

.circle-3 {
    animation-name: circle-3-animation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes circle-3-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes circle-2-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes circle-1-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}














/* ----------------------------- HEADER ----------------------------- */

.header {
    border: 2px solid var(--text-light);
    border-radius: var(--border-radius-1);
    padding: var(--spacing-md);
    margin: var(--spacing-lg) 0px calc(var(--spacing-xl) * 2) 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > title {
    text-transform: uppercase;
}

.header > .pill-container {
    display: flex;
}

.header > .pill-container > .score-pill {
    margin: 0px 0px 0px calc(var(--spacing-md) + 10px);
}






/* ----------------------------- OPTIONS ----------------------------- */

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;

    /* position: relative; */
}

.options > .upper {
    position: relative;
}

.options > .upper::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 15px;
    background-color: #5c5b5b;
    top: calc(50% - 7.5px);
    left: calc(142px/2);
    z-index: -1;
}


.line-1 {
    position: absolute;
    background-color: #5c5b5b;
    width: 70%;
    height: 15px;
    left: -170px;
    top: calc(50% - 7.5px);
    transform: rotate(58deg);
    transform-origin: 115px 214px;
    z-index: -1;
}


.line-2 {
    position: absolute;
    background-color: #5c5b5b;
    width: 70%;
    height: 15px;
    right: -170px;
    top: calc(50% - 7.5px);
    transform: rotate(-58deg);
    transform-origin: 178px 205px;
    z-index: -1;
}

.options > .upper > img {
    position: absolute;
}

.scissor {
    border-color: var(--scissor-border-color);
}

.paper {
    border-color: var(--paper-border-color);
}

.options .option-scissor {
    margin: 0px 0px 0px calc(var(--spacing-xl) * 2);
}

.options .option-paper {
    margin: calc(var(--spacing-xl)*1.5) 0px 0px 0px;
}





/* ----------------------------- RULES ----------------------------- */

.rules-main {
    border: 1px solid black;

    position: fixed; 
    bottom: var(--spacing-md);
    right: calc(var(--spacing-md) * 2 + 5px);

    display: flex;
    flex-direction: row;
}

.rules-main > .next-btn {
    align-self: flex-end;
    margin: 0px 0px 0px var(--spacing-lg);

    display: none;
}

.rules-main > .next-btn-active {
    display: block;
}

.rules-container > .rules-active {
    display: block;
}

.rules-container {
    border: 1px solid red;

    display: flex;
    flex-direction: column;
}

.rules-container > .rule-btn {
    margin: var(--spacing-md) -15px 0px 0px;
    align-self: flex-end;
}

.rules {
    width: 278px;
    height: 325px;
    background-color: var(--rulepopup-bg-color);
    border: 7px solid var(--text-light);
    border-radius: var(--border-radius-1);

    box-sizing: border-box;
    padding: var(--spacing-md);

    position: relative;

    display: none;
}

.rules > button {
    position: absolute;
}

.rules > h2 {
    text-align: center;
}

.rules > ul {
    list-style: none;
}



.rules > .rule-points {
    margin: var(--spacing-md) 0px 0px 0px;
}

.rules > .rule-points >  p {
    letter-spacing: 0px;
    margin: 0px 0px var(--spacing-md) 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.rules > .rule-points > p::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: var(--rule-bullet-color);
    flex-shrink: 0;
    margin: 0px calc(var(--spacing-sm) + 3px) 0px 0px;
}

.rules > .close-btn {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--close-bg-color);
    border: 5px solid var(--button-bg-color);

    padding: var(--spacing-sm);

    position: absolute;
    top: -29px;
    right: -29px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rules > .close-btn > img {
    width: 20px;
}






/* ----------------------------- Win Section ----------------------------- */

.winSection {
    border: 1px solid red;
    text-transform: uppercase;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.winSection > .chosen-entity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winSection h3 {
    margin: 0px 0px var(--spacing-lg) 0px;
}

.winSection > .status {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winSection > .status > .text-1 {
    font-weight: var(--font-extrabold);
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
}

.winSection > .status > .text-2 {
    font-weight: var(--font-medium-1);
    font-size: var(--font-size-7);
    line-height: var(--line-height-7);

    letter-spacing: 1px;
    margin: var(--spacing-sm) 0px var(--spacing-md) 0px;
}





/* ----------------------------- HURRAY Section ----------------------------- */


.hurray-section {
    margin: var(--spacing-lg) 0px 0px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hurray-section > .img-div {
    position: relative;
    width: 504px;
    height: 297px;
    /* border: 1px solid black; */
}

.hurray-section > .img-div > .star {
    position: absolute;
    width: 100%;
    height: 100%;

    animation-name: star-animation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
}

.hurray-section > .img-div > .trophy {
    position: absolute;
    width: 200px;
    top: calc(50% - 68px);
    left: calc(50% - 100px);
}

.hurray-section > .hurray-text {
    font-weight: var(--font-medium-2);
    font-size: var(--font-size-1);
    line-height: var(--line-height-1);
    margin: var(--spacing-sm) 0px 0px 0px;
}

.hurray-section > .message {
    font-weight: var(--font-medium-1);
    font-size: var(--font-size-3);
    line-height: var(--line-height-3);
    letter-spacing: 1px;
}


.hurray-section > button {
    margin: calc(var(--spacing-lg) * 1.5) 0px 0px 0px;
}




@keyframes star-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}